body {
  background: #0b0f19;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}
textarea {
  width: 90%;
  height: 120px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
}
